.page__container {
    position: relative;
    margin: 0 auto;
}

.info-button {
    position: absolute;
    right: 1%;
    top: 0;
    margin-top: 1rem;
    margin-right: 0.1rem;
    padding: 0.5rem;
    background-color: var(--color-bg);
    border: 2px solid var(--color-primary-variant);
    border-radius: 0.25rem;
    font-size: 1rem;
    z-index: 1;
}

.info-button:hover {
    background-color: var(--color-primary-variant);
}

Table {
    z-index: 0;
}
