@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

:root {
    --color-bg: #f5f5f5;
    --color-bg-variant: #dcdcdc;
    --color-primary: #282828;
    --color-primary-variant: #a0a0a0;
    --color-white: #fff;
    --color-light: rgba(255, 255, 255, 0.6);

    --container-width-lg: 74%;
    --container-width-md: 86%;
    --container-width-sm: 90%;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Poppins', sans-serif;
    background: var(--color-bg-variant);
    color: black;
    line-height: 1.7;
    overflow: auto;
}

.container {
    width: var(--container-width-lg);
    margin: 0 auto;
}

/* Map Container */
.leaflet-container {
    height: 500px;
    z-index: 0;
}

/* MEDIA QUERIES (TABLET DEVICES) */
@media screen and (max-width: 1024px) {
    .container {
        width: var(--container-width-md);
    }

    section {
        margin-top: 6rem;
    }
}

/* MEDIA QUERIES (MOBILE DEVICES) */
@media screen and (max-width: 600px) {
    .container {
        width: var(--container-width-sm);
    }

    section > h2 {
        margin-bottom: 2rem;
    }
}